* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(46, 46, 46);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/*-------HEADER -----*/
.header {
  background-color: rgb(46, 46, 46);
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 1vh 2vw;
  border: 0px solid red;
  align-items: center;
  justify-content: space-between;
}

.head-container {
  padding: 1vh;
  border: 0px solid orange;
  width: auto;
}

.head-container ul {
  width: 100%;
  border: 0px solid rgb(0, 255, 42);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.head-container ul li {
  list-style-type: none;
  color: white;
}

.head-container ul li span {
  font-weight: 700;
  color: orange;
}

.head-container ul li a {
  color: white;
}

.language-selector {
  display: flex;
}
/*------- NAVBAR -----*/

nav {
  position: sticky;
  top: 70px;
  z-index: 99;
  width: 100%;
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: space-between;
  padding: 1vh 2vw;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  gap: 3vw;
}

nav ul li a {
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  color: white;
  font-weight: 600;
  padding: 0.5vh 0vw;
  transition: all;
  transition-duration: 0.3s;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0);
}

nav ul li a:hover {
  border-bottom: 1.5px solid rgb(255, 255, 255);
}

.menu-icon {
  display: none;
}

/*------- DROPDOWN -----*/

nav li ul.dropdown li {
  display: block;
  margin: 0.9vw;
}

nav li ul.dropdown {
  text-align: left;
  width: 180px;
  position: absolute;
  z-index: 999;
  display: none;
  background-color: rgb(26, 26, 26);
  border-radius: 5px;
}

ul li:hover ul.dropdown {
  display: block;
}
nav ul li a:hover {
  color: orange;
}

/*------- website contain -----*/

.newpage1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: aliceblue;
}

.newpage1 {
  background-image: url(../tshirt_img/backimg.png);
}
.description {
  padding: 50px;
}

.row {
  justify-content: center;
  border: 0px solid red;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/*------- End website contain -----*/

/* -----------------------------------------------FOOTER PAGE---------------------------------------------------------------------- */
.footer-contain {
  display: flex;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
}

.footer {
  display: flex;
  border: 0px solid rgb(231, 13, 213);
  width: 60%;
  align-items: center;
  justify-content: center;
}

.footerbox {
  border: 0px solid rebeccapurple;
  display: flex;
  flex-wrap: wrap;
  gap: 6vw;
  justify-content: space-between;
}

.footerbox1 .icon:hover {
  color: orange;
}

.footerbox li {
  list-style-type: none;
  line-height: 5vh;
  text-align: center;
}

.footerbox li h1 {
  font-family: poppins;
  font-size: 2rem;
  color: orange;
}

.footerbox li a {
  font-family: poppins;
  font-size: 1.2rem;
  color: white;
}

.footerbox .footerbox1 li {
  text-align: left;
}

.footerbox .footerbox2 li {
  text-align: right;
}

.footerbox1 .icon {
  display: inline-flex;
  margin: 0 10px;
  color: rgb(255, 255, 255);
  transition: all 0.3s ease;
  font-size: 2rem;
}

.footerbox1 .icon:hover {
  background-color: #0a0a0a;
}

.footerbox2 li:hover #gems {
  color: orange;
}

.copy {
  background-color: orange;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy p {
  font-family: poppins;
}

#myBtn {
  position: fixed;
  display: none;
  bottom: 0vh;
  right: 1vw;
  z-index: 99;
  cursor: pointer;
  padding: 5vh;
}

/* Large devices (Laptop kecil, ≤ 1024px) */
@media only screen and (max-width: 1024px) and (orientation: portrait) {
  /* CSS untuk laptop kecil */

  nav {
    position: sticky;
    top: 67px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }

  .footer-contain {
    display: flex;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
  }

  .footer {
    display: flex;
    border: 0px solid rgb(231, 13, 213);
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    border: 0px solid rebeccapurple;
    display: flex;
    flex-wrap: wrap;
    gap: 6vw;
    justify-content: space-between;
  }

  .footerbox1 .icon:hover {
    color: orange;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox li h1 {
    font-family: poppins;
    font-size: 2rem;
    color: orange;
  }

  .footerbox li a {
    font-family: poppins;
    font-size: 1.2rem;
    color: white;
  }

  .footerbox .footerbox1 li {
    text-align: left;
  }

  .footerbox .footerbox2 li {
    text-align: right;
  }

  .footerbox1 .icon {
    display: inline-flex;
    margin: 0 10px;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease;
    font-size: 2rem;
  }

  .footerbox1 .icon:hover {
    background-color: #0a0a0a;
  }

  .footerbox2 li:hover #gems {
    color: orange;
  }

  .copy {
    background-color: orange;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .copy p {
    font-family: poppins;
  }

  #myBtn {
    position: fixed;
    display: none;
    bottom: 0vh;
    right: 1vw;
    z-index: 99;
    cursor: pointer;
    padding: 5vh;
  }
}

/* Medium devices (Tablet, ≤ 890px) */
@media only screen and (min-width: 890px) {
  /* CSS untuk tablet */

  nav {
    border: 0px solid red;
    position: sticky;
    top: 67px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

/* Medium devices (Tablet, ≤860px) */
@media only screen and (min-width: 860px) {
  /* CSS untuk tablet */

  nav {
    border: 0px solid red;
    position: sticky;
    top: 50px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

/* Medium devices (Tablet, ≤ 860px) */
@media only screen and (max-width: 860px) and (orientation: portrait) {
  /* CSS untuk tablet */

  nav {
    position: sticky;
    top: 65px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}
/* Medium devices (Tablet, ≤ 854px) */
@media only screen and (max-width: 854px) and (orientation: portrait) {
  /* CSS untuk tablet */

  nav {
    position: sticky;
    top: 67px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

/* Medium devices (Tablet, ≤ 840px) */
@media only screen and (max-width: 840px) {
  /* CSS untuk tablet */

  nav {
    position: sticky;
    top: 85px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

/* Medium devices (Tablet, ≤ 768px) */
@media only screen and (max-width: 830px) and (orientation: portrait) {
  /* CSS untuk tablet */

  nav {
    position: sticky;
    top: 85px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}
/* Medium devices (Tablet, ≤ 768px) */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  /* CSS untuk tablet */

  nav {
    position: sticky;
    top: 86px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

/* Medium devices (Tablet, ≤ 620px*/
@media only screen and (max-width: 620px) {
  /* CSS untuk tablet */

  nav {
    position: sticky;
    top: 81px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }

  /*-----------contain website-------*/

  .container {
    border: 0px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  /*------------------*/
  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

/* Small devices (HP standar, ≤ 600px) */
@media only screen and (max-width: 600px) {
  /* CSS untuk HP */

  .header {
    align-items: center;
    justify-content: space-between;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 81px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

/* Small devices (HP standar, ≤ 550px) */
@media only screen and (max-width: 550px) {
  /* CSS untuk HP */

  .header {
    align-items: center;
    justify-content: space-between;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 81px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

/* Small devices (HP standar, ≤ 520px) */
@media only screen and (max-width: 520px) {
  /* CSS untuk HP */

  .header {
    align-items: center;
    justify-content: space-between;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 81px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

/* Small devices (HP standar, ≤ 500px) */
@media only screen and (max-width: 500px) {
  /* CSS untuk HP */

  .header {
    align-items: center;
    justify-content: space-between;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 81px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}
/* Small devices (HP standar, ≤ 480px) */
@media only screen and (max-width: 480px) {
  /* CSS untuk HP */

  .header {
    align-items: center;
    justify-content: space-between;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 81px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 470px) {
  /* CSS untuk HP */
  /* Extra small devices (HP kecil, ≤ 360px) */

  .header {
    align-items: left;
    justify-content: left;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 80px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}
@media only screen and (max-width: 460px) {
  /* CSS untuk HP */
  /* Extra small devices (HP kecil, ≤ 360px) */

  .header {
    align-items: left;
    justify-content: left;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 81px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 450px) {
  /* CSS untuk HP */
  /* Extra small devices (HP kecil, ≤ 450px) */

  .header {
    align-items: left;
    justify-content: left;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 80px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}
@media only screen and (max-width: 440px) {
  /* CSS untuk HP */
  /* Extra small devices (HP kecil, ≤ 360px) */

  .header {
    align-items: left;
    justify-content: left;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 80px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}
@media only screen and (max-width: 430px) {
  /* CSS untuk HP */
  /* Extra small devices (HP kecil, ≤ 360px) */

  .header {
    align-items: left;
    justify-content: left;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 99px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}
@media only screen and (max-width: 400px) {
  /* CSS untuk HP */
  /* Extra small devices (HP kecil, ≤ 360px) */

  .header {
    align-items: left;
    justify-content: left;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 118px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 390px) {
  /* CSS khusus untuk HP kecil */

  .header {
    align-items: left;
    justify-content: left;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 119px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 370px) {
  /* CSS khusus untuk HP kecil */

  .header {
    align-items: left;
    justify-content: left;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 118px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}
@media only screen and (max-width: 360px) and (orientation: portrait) {
  /* CSS khusus untuk HP kecil */

  .header {
    align-items: left;
    justify-content: left;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 138px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 350px) and (orientation: portrait) {
  /* CSS khusus untuk HP kecil */
  .header {
    align-items: left;
    justify-content: left;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 137px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 330px) and (orientation: portrait) {
  /* CSS khusus untuk HP kecil */
  .header {
    align-items: left;
    justify-content: left;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 137px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
  /* CSS khusus untuk HP kecil */
  .header {
    align-items: left;
    justify-content: left;
  }

  .head-container ul {
    width: 100%;
    border: 0px solid rgb(0, 255, 42);
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  nav {
    position: sticky;
    top: 137px;
    z-index: 9999;
    width: 100%;
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
  }
  nav {
    flex-wrap: wrap;
  }

  nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul.hidden {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  nav li ul.dropdown {
    border: 0px solid red;
    text-align: center;
    justify-content: center;
    width: 150px;
    position: relative;
    z-index: 999;
    display: none;
    background-color: rgb(26, 26, 26);
    border-radius: 5px;
  }

  nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer {
    width: 70%;
    align-items: center;
    justify-content: center;
  }

  .footerbox {
    justify-content: center;
  }

  .footerbox li {
    list-style-type: none;
    line-height: 5vh;
    text-align: center;
  }

  .footerbox .footerbox1 li {
    text-align: center;
  }

  .footerbox .footerbox2 li {
    text-align: center;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    z-index: 99;
    cursor: pointer;
    padding: 0vh;
    border-radius: 4px;
  }
}
